FlowZip/Microsoft.Flow/flows/3e363801-6892-4a2f-b765-76a3ddb006ba/definition.json
{"name":"383b3dc9-0c4d-449d-b446-c8d7d65a6c2e","id":"/providers/Microsoft.Flow/flows/383b3dc9-0c4d-449d-b446-c8d7d65a6c2e","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Remind_Me【Teams Tool】","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"5bfcd121-0028-48de-85f4-bcfd14cc1005","type":"User","tenantId":"7f8d27e7-be70-4bed-83d5-97be9ab7e711"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2022-01-08T13:44:52.9428391Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"splitOn":"@triggerBody()['rows']","metadata":{"flowSystemMetadata":{"swaggerOperationId":"ForASelectedMessage","inputsAdaptiveCard":"{\"$schema\":\"http://adaptivecards.io/schemas/adaptive-card.json\",\"type\":\"AdaptiveCard\",\"version\":\"1.2\",\"body\":[{\"type\":\"Container\",\"items\":[{\"type\":\"ColumnSet\",\"columns\":[{\"width\":\"stretch\",\"type\":\"Column\",\"items\":[{\"type\":\"TextBlock\",\"weight\":\"Bolder\",\"size\":\"Medium\",\"text\":\"いつ再通知しますか？\",\"id\":\"ReminderTitle\",\"fontType\":\"Monospace\"},{\"choices\":[{\"title\":\"三秒後\",\"value\":\"3 second\"},{\"title\":\"一時間後\",\"value\":\"1 hour\"},{\"title\":\"六時間後\",\"value\":\"6 hour\"},{\"title\":\"明日（24時間後）\",\"value\":\"24 hour\"},{\"title\":\"一週間後\",\"value\":\"1 week\"},{\"title\":\"二週間後\",\"value\":\"2 week\"},{\"title\":\"カレンダー\",\"value\":\"0 selection\"},{\"title\":\"時間で\",\"value\":\"0 Timer\"}],\"type\":\"Input.ChoiceSet\",\"placeholder\":\"いつ再通知しますか？\",\"id\":\"ReminderSelection\",\"spacing\":\"None\",\"value\":\"3 second\",\"style\":\"expanded\"},{\"type\":\"Input.Date\",\"spacing\":\"None\",\"$when\":\"${cardOutputs.ReminderSelection == ''}\",\"id\":\"reminderCalendar\",\"$data\":\"${data}\"},{\"type\":\"Input.Time\",\"id\":\"reminderTime\",\"spacing\":\"None\"}]},{\"width\":\"stretch\",\"type\":\"Column\",\"items\":[{\"type\":\"Input.Toggle\",\"title\":\"Mentionする？\",\"id\":\"IsMentioned\"}]}]}],\"style\":\"emphasis\",\"spacing\":\"Small\"},{\"type\":\"Container\",\"items\":[{\"type\":\"TextBlock\",\"id\":\"ReminderPlace\",\"text\":\"どこに再通知しますか？\",\"separator\":true,\"size\":\"Medium\",\"weight\":\"Bolder\",\"fontType\":\"Monospace\"},{\"choices\":[{\"title\":\"操作者へ\",\"value\":\"myself\"},{\"title\":\"投稿者へ\",\"value\":\"personPosted\"},{\"title\":\"この場所に（Channelでのみ動作します）\",\"value\":\"here\"}],\"placeholder\":\"Placeholder text\",\"type\":\"Input.ChoiceSet\",\"id\":\"PlaceSelection\",\"style\":\"expanded\",\"value\":\"myself\"},{\"text\":\"Group/Private ChatではAutomate Action が未対応。対応されたらAutomate編集して対応しましょう。\",\"type\":\"TextBlock\",\"size\":\"Small\",\"spacing\":\"None\",\"color\":\"Accent\",\"horizontalAlignment\":\"Right\",\"weight\":\"Lighter\",\"wrap\":true}]},{\"type\":\"Container\",\"items\":[{\"type\":\"TextBlock\",\"text\":\"通知時の先頭に表示するメッセージ (optional)\",\"size\":\"Medium\",\"weight\":\"Bolder\",\"fontType\":\"Monospace\",\"separator\":true},{\"type\":\"Input.Text\",\"placeholder\":\"（表示メッセージ）\",\"id\":\"ReminderBody\"}]}],\"actions\":[{\"type\":\"Action.Submit\",\"title\":\"Submit\"}],\"-ms-tokens\":{}}","taskModuleWidth":null,"taskModuleHeight":null},"operationMetadataId":"43ea0a50-8fe8-45f3-8d95-66cd4097742c"},"type":"Request","kind":"ApiConnection","inputs":{"schema":{"type":"object","properties":{"rows":{"type":"array","items":{"type":"object","properties":{"entity":{"type":"object","properties":{"cardOutputs":{"title":"cardOutputs","type":"object","properties":{"reminderCalendar":{"title":"reminderCalendar","type":"string"},"placeSelection":{"title":"placeSelection","type":"string"},"reminderSelection":{"title":"reminderSelection","type":"string"},"isMentioned":{"title":"isMentioned","type":"string"},"reminderTime":{"title":"reminderTime","type":"string"}}},"teamsFlowRunContext":{"type":"object","properties":{"from":{"type":"object","properties":{"aadObjectId":{"title":"操作元ユーザーの ID","type":"string"}},"required":[]},"messagePayload":{"type":"object","properties":{"subject":{"title":"メッセージの件名","type":"string"},"linkToMessage":{"title":"メッセージへのリンク","type":"string"},"body":{"type":"object","properties":{"content":{"title":"メッセージのコンテンツ","type":"string"}},"required":[]},"id":{"title":"メッセージ ID","type":"string"},"from":{"type":"object","properties":{"user":{"title":"user","type":"object"}},"required":[]}},"required":[]},"channelData":{"type":"object","properties":{"team":{"type":"object","properties":{"aadGroupId":{"title":"チーム ID","type":"string"}},"required":[]},"channel":{"type":"object","properties":{"id":{"title":"チャネル ID","type":"string"}},"required":[]}},"required":[]}}}},"required":["cardOutputs","teamsFlowRunContext"]}},"required":["entity"]}}},"required":["rows"]},"host":{"connection":{"name":"@parameters('$connections')['shared_teams']['connectionId']"},"api":{"runtimeUrl":"https://japan-001.azure-apim.net/apim/teams"}},"operationId":"ForASelectedMessage","parameters":{"inputsAdaptiveCard":"{\"$schema\":\"http://adaptivecards.io/schemas/adaptive-card.json\",\"type\":\"AdaptiveCard\",\"version\":\"1.2\",\"body\":[{\"type\":\"Container\",\"items\":[{\"type\":\"ColumnSet\",\"columns\":[{\"width\":\"stretch\",\"type\":\"Column\",\"items\":[{\"type\":\"TextBlock\",\"weight\":\"Bolder\",\"size\":\"Medium\",\"text\":\"いつ再通知しますか？\",\"id\":\"ReminderTitle\",\"fontType\":\"Monospace\"},{\"choices\":[{\"title\":\"三秒後\",\"value\":\"3 second\"},{\"title\":\"一時間後\",\"value\":\"1 hour\"},{\"title\":\"六時間後\",\"value\":\"6 hour\"},{\"title\":\"明日（24時間後）\",\"value\":\"24 hour\"},{\"title\":\"一週間後\",\"value\":\"1 week\"},{\"title\":\"二週間後\",\"value\":\"2 week\"},{\"title\":\"カレンダー\",\"value\":\"0 selection\"},{\"title\":\"時間で\",\"value\":\"0 Timer\"}],\"type\":\"Input.ChoiceSet\",\"placeholder\":\"いつ再通知しますか？\",\"id\":\"ReminderSelection\",\"spacing\":\"None\",\"value\":\"3 second\",\"style\":\"expanded\"},{\"type\":\"Input.Date\",\"spacing\":\"None\",\"$when\":\"${cardOutputs.ReminderSelection == ''}\",\"id\":\"reminderCalendar\",\"$data\":\"${data}\"},{\"type\":\"Input.Time\",\"id\":\"reminderTime\",\"spacing\":\"None\"}]},{\"width\":\"stretch\",\"type\":\"Column\",\"items\":[{\"type\":\"Input.Toggle\",\"title\":\"Mentionする？\",\"id\":\"IsMentioned\"}]}]}],\"style\":\"emphasis\",\"spacing\":\"Small\"},{\"type\":\"Container\",\"items\":[{\"type\":\"TextBlock\",\"id\":\"ReminderPlace\",\"text\":\"どこに再通知しますか？\",\"separator\":true,\"size\":\"Medium\",\"weight\":\"Bolder\",\"fontType\":\"Monospace\"},{\"choices\":[{\"title\":\"操作者へ\",\"value\":\"myself\"},{\"title\":\"投稿者へ\",\"value\":\"personPosted\"},{\"title\":\"この場所に（Channelでのみ動作します）\",\"value\":\"here\"}],\"placeholder\":\"Placeholder text\",\"type\":\"Input.ChoiceSet\",\"id\":\"PlaceSelection\",\"style\":\"expanded\",\"value\":\"myself\"},{\"text\":\"Group/Private ChatではAutomate Action が未対応。対応されたらAutomate編集して対応しましょう。\",\"type\":\"TextBlock\",\"size\":\"Small\",\"spacing\":\"None\",\"color\":\"Accent\",\"horizontalAlignment\":\"Right\",\"weight\":\"Lighter\",\"wrap\":true}]},{\"type\":\"Container\",\"items\":[{\"type\":\"TextBlock\",\"text\":\"通知時の先頭に表示するメッセージ (optional)\",\"size\":\"Medium\",\"weight\":\"Bolder\",\"fontType\":\"Monospace\",\"separator\":true},{\"type\":\"Input.Text\",\"placeholder\":\"（表示メッセージ）\",\"id\":\"ReminderBody\"}]}],\"actions\":[{\"type\":\"Action.Submit\",\"title\":\"Submit\"}],\"-ms-tokens\":{}}"}}}},"actions":{"Initialize_variable_Count":{"runAfter":{"Initialize_variable_MessageBody":["Succeeded"]},"metadata":{"operationMetadataId":"cdc62e96-33b8-451e-a428-0065e7a8a05c"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Count","type":"integer","value":"@int(split(triggerBody()?['entity']?['cardOutputs']?['reminderSelection'], ' ')[0])"}]}},"Initialize_variable_Unit":{"runAfter":{"Initialize_variable_Count":["Succeeded"]},"metadata":{"operationMetadataId":"07e1d4c2-a723-4438-8208-6cf56d806dc0"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Unit","type":"string","value":"@{split(triggerBody()?['entity']?['cardOutputs']?['reminderSelection'], ' ')[1]}"}]}},"Condition_Where_to_post":{"actions":{"Post_your_own_adaptive_card_as_the_Flow_bot_to_a_user":{"runAfter":{"Condition_IsMentioned":["Succeeded"]},"metadata":{"operationMetadataId":"6e76c2c1-d37b-4491-8210-5df2e32100c3"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostUserAdaptiveCard"},"parameters":{"PostAdaptiveCardRequest/recipient/to":"@variables('Receiver')","PostAdaptiveCardRequest/messageBody":"{\n    \"type\": \"AdaptiveCard\",\n    \"body\": [\n        {\n            \"type\": \"Container\",\n            \"items\": [\n                {\n                    \"type\": \"TextBlock\",\n                    \"text\": \"Message Reminder: 以下クリックで元のメッセージへ\",\n                    \"size\": \"Medium\",\n                    \"wrap\": true,\n                    \"id\": \"Title\",\n                    \"spacing\": \"None\"\n                },\n                {\n                    \"type\": \"ActionSet\",\n                    \"actions\": [\n                        {\n                            \"type\": \"Action.OpenUrl\",\n                            \"title\": \"@{variables('Title')}\",\n                            \"url\": \"@{triggerBody()?['entity']?['teamsFlowRunContext']?['messagePayload']?['linkToMessage']}\",\n                            \"style\": \"positive\"\n                        }\n                    ],\n                    \"spacing\": \"None\",\n                    \"horizontalAlignment\": \"Right\",\n                    \"height\": \"stretch\",\n                    \"separator\": true\n                }\n            ],\n            \"style\": \"good\",\n            \"bleed\": true,\n            \"separator\": true,\n            \"spacing\": \"None\"\n        },\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"@{variables('MentionWord')}@{variables('MessageBody')}@{variables('OriginalMessage')}\",\n            \"id\": \"Details\",\n            \"spacing\": \"None\",\n            \"wrap\": true,\n            \"fontType\": \"Default\"\n        }\n    ],\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"version\": \"1.2\"\n}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Html_to_text":{"runAfter":{},"metadata":{"operationMetadataId":"d69dec0c-7a57-443f-b379-e0406f328172"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_conversionservice","connectionName":"shared_conversionservice","operationId":"HtmlToText"},"parameters":{"Content":"<p>@{triggerBody()?['entity']?['teamsFlowRunContext']?['messagePayload']?['body']?['content']}</p>"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"条件":{"actions":{"変数の設定":{"runAfter":{},"metadata":{"operationMetadataId":"0610b202-4bee-42b9-b173-3da72da99a78"},"type":"SetVariable","inputs":{"name":"Receiver","value":"@triggerBody()?['entity']?['teamsFlowRunContext']?['from']?['aadObjectId']"}}},"runAfter":{"変数の設定_3":["Succeeded"]},"else":{"actions":{"条件_2":{"actions":{"メッセージをフロー_ボットとしてユーザーに投稿する":{"runAfter":{},"metadata":{"operationMetadataId":"18fedc3c-a182-4ce3-966e-402307c63158"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostUserNotification"},"parameters":{"PostNotificationRequest/recipient/to":"@triggerBody()?['entity']?['teamsFlowRunContext']?['from']?['aadObjectId']","PostNotificationRequest/messageBody":"投稿者を認識出来ませんでした。\n投稿者がBotだったりしませんか？","PostNotificationRequest/messageTitle":"Remind Error [@{triggerBody()?['entity']?['teamsFlowRunContext']?['messagePayload']?['subject']}]"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"終了":{"runAfter":{"メッセージをフロー_ボットとしてユーザーに投稿する":["Succeeded"]},"metadata":{"operationMetadataId":"7b6e2298-a1d9-4eb5-b45e-5892b20befdf"},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}},"runAfter":{},"else":{"actions":{"変数の設定_2":{"runAfter":{},"metadata":{"operationMetadataId":"0e733623-94ea-4a00-a092-3331f3b5c50b"},"type":"SetVariable","inputs":{"name":"Receiver","value":"@triggerBody()?['entity']?['teamsFlowRunContext']?['messagePayload']?['from']?['user']?['id']"}}}},"expression":{"equals":["@triggerBody()?['entity']?['teamsFlowRunContext']?['messagePayload']?['from']?['user']?['id']",null]},"metadata":{"operationMetadataId":"d755c725-4f35-4f56-ae66-7f30ba7fd293"},"type":"If"}}},"expression":{"equals":["@triggerBody()?['entity']?['cardOutputs']?['placeSelection']","myself"]},"metadata":{"operationMetadataId":"5d0ab3c9-2b81-4720-abde-213d816b73cc"},"type":"If"},"変数の設定_3":{"runAfter":{"Html_to_text":["Succeeded"]},"metadata":{"operationMetadataId":"96d767af-8bd4-458e-84ef-65b231d4fd86"},"type":"SetVariable","inputs":{"name":"OriginalMessage","value":"@{if(empty(outputs('Html_to_text')?['body']), '', replace(outputs('Html_to_text')?['body'],'\\','/'))}"}},"Condition_IsMentioned":{"actions":{"Get_user_profile_(V2)":{"runAfter":{},"metadata":{"operationMetadataId":"74b86f48-04e3-49bc-8fc8-895156064953"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users","operationId":"UserProfile_V2"},"parameters":{"id":"@variables('Receiver')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Get_an_@mention_token_for_a_user":{"runAfter":{"Get_user_profile_(V2)":["Succeeded"]},"metadata":{"operationMetadataId":"60cac011-db74-48fa-8424-64e6afe9a295"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"AtMentionUser"},"parameters":{"userId":"@outputs('Get_user_profile_(V2)')?['body/mail']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Set_variable_4":{"runAfter":{"Get_an_@mention_token_for_a_user":["Succeeded"]},"metadata":{"operationMetadataId":"aaace15e-4e08-433a-9ace-5a92428da196"},"type":"SetVariable","inputs":{"name":"MentionWord","value":"@outputs('Get_an_@mention_token_for_a_user')?['body/atMention']"}}},"runAfter":{"条件":["Succeeded"]},"expression":{"equals":["@triggerBody()?['entity']?['cardOutputs']?['isMentioned']","True"]},"metadata":{"operationMetadataId":"1964d12c-c3a3-4eab-973d-73be8286f14a"},"type":"If"}},"runAfter":{"Initialize_variable_Message":["Succeeded"]},"else":{"actions":{"Post_a_reply_to_a_message_(V2)":{"runAfter":{},"metadata":{"operationMetadataId":"b31cdd01-ab32-4135-a06a-4267465f56b4"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostReplyToMessageV2"},"parameters":{"groupId":"@triggerBody()?['entity']?['teamsFlowRunContext']?['channelData']?['team']?['aadGroupId']","channelId":"@triggerBody()?['entity']?['teamsFlowRunContext']?['channelData']?['channel']?['id']","messageId":"@triggerBody()?['entity']?['teamsFlowRunContext']?['messagePayload']?['id']","body/body/content":"<p>@{variables('MessageBody')}</p>"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"expression":{"or":[{"or":[{"equals":["@triggerBody()?['entity']?['cardOutputs']?['placeSelection']","myself"]},{"equals":["@triggerBody()?['entity']?['cardOutputs']?['placeSelection']","personPosted"]}]},{"equals":["@triggerBody()?['entity']?['teamsFlowRunContext']?['channelData']?['team']?['aadGroupId']",null]}]},"metadata":{"operationMetadataId":"d3d2fec0-0f8c-4047-bd62-85173ca0702f"},"type":"If","description":"「チームID」の確認は、Group/Private Chat への返信が出来ない為の策。出来るようになれば、その対応を行うべし"},"Initialize_variable_Title":{"runAfter":{"Switch":["Succeeded"]},"metadata":{"operationMetadataId":"06826b83-df9c-41de-abbf-81caa9b17626"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Title","type":"string","value":"@{if(empty(triggerBody()?['entity']?['teamsFlowRunContext']?['messagePayload']?['subject']),'__NONE__TITLE__',triggerBody()?['entity']?['teamsFlowRunContext']?['messagePayload']?['subject'])}"}]}},"Initialize_variable_MessageBody":{"runAfter":{"Initialize_variable_DelayingDateTime":["Succeeded"]},"metadata":{"operationMetadataId":"87eef1b3-43e7-47b9-8867-a99700df186c"},"type":"InitializeVariable","inputs":{"variables":[{"name":"MessageBody","type":"string","value":"@{triggerBody()?['entity']?['cardOutputs']?['reminderSelection']}\n"}]}},"変数を初期化する":{"runAfter":{"Initialize_variable_Title":["Succeeded"]},"metadata":{"operationMetadataId":"62b9f727-2a08-463b-9970-30256ecd5298"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Receiver","type":"string"}]}},"Initialize_variable_Message":{"runAfter":{"変数を初期化する":["Succeeded"]},"metadata":{"operationMetadataId":"17425698-fc47-4abe-ada3-5b73a6f3dd1a"},"type":"InitializeVariable","inputs":{"variables":[{"name":"OriginalMessage","type":"string"}]}},"Initialize_variable_CanLoop":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"e07f020a-120d-4e59-b23c-544b185c97b3"},"type":"InitializeVariable","inputs":{"variables":[{"name":"CanLoop","type":"boolean","value":false}]}},"Initialize_variable_DelayingDateTime":{"runAfter":{"Initialize_variable_CanLoop":["Succeeded"]},"metadata":{"operationMetadataId":"eb2449f6-3a1e-4fc6-8301-4fcca7a68eb2"},"type":"InitializeVariable","inputs":{"variables":[{"name":"DelayingDateTime","type":"string"}]}},"Initialize_variable":{"runAfter":{},"metadata":{"operationMetadataId":"f578f005-db7a-4ff4-9e06-f3c9a9346209"},"type":"InitializeVariable","inputs":{"variables":[{"name":"MentionWord","type":"string"}]}},"Switch":{"runAfter":{"Initialize_variable_Unit":["Succeeded"]},"cases":{"Case":{"case":"selection","actions":{"Current_time":{"runAfter":{},"type":"Expression","kind":"CurrentTime","inputs":{}},"Convert_time_zone_CurrentTIme":{"runAfter":{"Current_time":["Succeeded"]},"type":"Expression","kind":"ConvertTimeZone","inputs":{"baseTime":"@body('Current_time')","formatString":"o","sourceTimeZone":"UTC","destinationTimeZone":"Tokyo Standard Time"}},"Convert_time_zone_TargetDateTime":{"runAfter":{"Convert_time_zone_CurrentTIme":["Succeeded"]},"type":"Expression","kind":"ConvertTimeZone","inputs":{"baseTime":"@triggerBody()?['entity']?['cardOutputs']?['reminderCalendar']","formatString":"o","sourceTimeZone":"Tokyo Standard Time","destinationTimeZone":"Tokyo Standard Time"},"description":"フォーマットを合わせる為。FormatDateTimeでもいいけど、面倒なので、Connector で"},"Set_variable_InitializeDelayingDateTime":{"runAfter":{"Convert_time_zone_TargetDateTime":["Succeeded"]},"type":"SetVariable","inputs":{"name":"DelayingDateTime","value":"@body('Convert_time_zone_TargetDateTime')"}},"Do_until":{"actions":{"Subtract_from_time":{"runAfter":{},"type":"Expression","kind":"SubtractFromTime","inputs":{"baseTime":"@variables('DelayingDateTime')","interval":30,"timeUnit":"Day"}},"Set_variable_Update_DelayingDateTime":{"runAfter":{"Subtract_from_time":["Succeeded"]},"type":"SetVariable","inputs":{"name":"DelayingDateTime","value":"@body('Subtract_from_time')"}},"Condition_2":{"actions":{"Set_variable_3":{"runAfter":{},"type":"SetVariable","inputs":{"name":"CanLoop","value":true}}},"runAfter":{"Set_variable_Update_DelayingDateTime":["Succeeded"]},"else":{"actions":{"Delay_30days":{"runAfter":{},"type":"Wait","inputs":{"interval":{"count":30,"unit":"Day"}}}}},"expression":{"less":["@body('Subtract_from_time')","@body('Convert_time_zone_CurrentTIme')"]},"type":"If"}},"runAfter":{"Set_variable_InitializeDelayingDateTime":["Succeeded"]},"expression":"@equals(variables('CanLoop'), true)","limit":{"count":60,"timeout":"PT1H"},"type":"Until","description":"Until Date が利用可能な、30日まで、Delayで30dayずつ待たせる"},"Delay_until":{"runAfter":{"Do_until":["Succeeded"]},"type":"Wait","inputs":{"until":{"timestamp":"@{convertToUtc(triggerBody()?['entity']?['cardOutputs']?['reminderCalendar'],'Tokyo Standard Time')}"}}},"Set_variable":{"runAfter":{"Delay_until":["Succeeded"]},"type":"SetVariable","inputs":{"name":"MessageBody","value":"@{if(empty(triggerBody()?['entity']?['cardOutputs']?['ReminderBody']), '', concat('【', triggerBody()?['entity']?['cardOutputs']?['ReminderBody'], '】'))}\n@{formatDateTime(triggerBody()?['entity']?['cardOutputs']?['reminderCalendar'], 'yyyy/MM/dd')} になりました。\n"}}}},"Case_2":{"case":"Timer","actions":{"Scope":{"actions":{"Set_variable_2":{"runAfter":{"Condition_3":["Succeeded"]},"type":"SetVariable","inputs":{"name":"MessageBody","value":"@{if(empty(triggerBody()?['entity']?['cardOutputs']?['ReminderBody']), '', concat('【', triggerBody()?['entity']?['cardOutputs']?['ReminderBody'], '】'))}\n @{triggerBody()?['entity']?['cardOutputs']?['reminderTime']} 経過したのでお知らせです。"}},"Condition_3":{"actions":{"Delay_2":{"runAfter":{},"type":"Wait","inputs":{"interval":{"count":"@int(split(triggerBody()?['entity']?['cardOutputs']?['reminderTime'],':')?[1])","unit":"Minute"}}}},"runAfter":{"Compose_WaitMinutes":["Succeeded"]},"expression":{"greater":["@outputs('Compose_WaitMinutes')",0]},"type":"If"},"Compose_WaitMinutes":{"runAfter":{"Condition":["Succeeded"]},"type":"Compose","inputs":"@int(split(triggerBody()?['entity']?['cardOutputs']?['reminderTime'],':')?[1])"},"Condition":{"actions":{"Delay":{"runAfter":{},"type":"Wait","inputs":{"interval":{"count":"@outputs('Compose_WaitHours')","unit":"Hour"}}}},"runAfter":{"Compose_WaitHours":["Succeeded"]},"expression":{"greater":["@outputs('Compose_WaitHours')",0]},"type":"If"},"Compose_WaitHours":{"runAfter":{},"type":"Compose","inputs":"@int(split(triggerBody()?['entity']?['cardOutputs']?['reminderTime'],':')?[0])"}},"runAfter":{},"type":"Scope"}}}},"default":{"actions":{"Delay_3":{"runAfter":{},"type":"Wait","inputs":{"interval":{"count":"@variables('Count')","unit":"@variables('Unit')"}}}}},"expression":"@variables('Unit')","metadata":{"operationMetadataId":"cf2d849a-08d8-4320-93f3-26476668b6eb"},"type":"Switch"}}},"connectionReferences":{"shared_teams":{"connectionName":"shared-teams-864099d5-54a7-4002-93b6-565ecf481128","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_teams","tier":"NotSpecified"},"shared_conversionservice":{"connectionName":"shared-conversionser-89f9ac33-15d0-44ac-bc7d-43f463d43e76","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_conversionservice","tier":"NotSpecified"},"shared_office365users":{"connectionName":"shared-office365user-8adbcca0-19c0-4a73-8fdb-225b07b9092b","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365users","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}